@import url("./reset.scss");
@import url("./variables.scss");
@import url("./themes/dark.scss");

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// /* Large desktops and laptops */
// media (min-width: 1200px) {

// }

// /* Portrait tablets and medium desktops */
// media (min-width: 992px) and (max-width: 1199px) {

// }

// /* Portrait tablets and small desktops */
// media (min-width: 768px) and (max-width: 991px) {

// }

// /* Landscape phones and portrait tablets */
// media (max-width: 767px) {

// }

// /* Landscape phones and smaller */
// media (max-width: 480px) {

// }

// media (max-width: 650) {

// }