.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
}

li {
  list-style-type: none;

}

.list {
  display: flex;
  align-items: center;
}

.link {
  padding: 13px 30px;
}


.burgerWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  width: 0;
}

.burgerWrapper.isOpen {
  .burger {
    background: transparent;
  }

  .burger::before,
  .burger:after {
    bottom: 0;
    transform: rotate(45deg)
  }

  .burger:after {
    top: 0;
    transform: rotate(-45deg)
  }
}


.burger {
  position: relative;
  content: "";
  width: 30px;
  height: 4px;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}

.burger::before,
.burger:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
  z-index: 1001;
}

.burger::before {
  bottom: 8px;
}

.burger::after {
  top: 8px;
}



@media (max-width:992px) {
  .link {
    padding: 13px 15px;
  }
}

@media (max-width:768px) {
  .burgerWrapper {
    opacity: 1;
    pointer-events: auto;
    width: 40px;

  }

  .list {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    transition: top .3s linear;
  }

  .list.isOpen {
    top: 0;
    bottom: 0;
  }
}