.projects {
  & h3 {
    text-align: center;
  }

  & h4 {
    text-align: center;
  }
}

.projectsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: var(--content-indent);
}

.projctsItem {
  min-width: 375px;
  min-height: 567px;
  max-width: 30%;
  margin-bottom: 25px;
  border-radius: 25px;
  background: var(--card-bg);
  box-shadow: var(--shadow);
}

.content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 307px;
}

.img {
  content: "";
  min-width: 375px;
  min-height: 260px;
  background: var(--accented-gradient);
  border-radius: 25px 25px 0 0;
}

.title {
  margin-bottom: 16px;
}

.description {
  margin-bottom: 12px;
  min-height: 130px;
}

.tags {
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ico {
  content: "";
  width: 16px;
  height: 16px;
  background: var(--accented-gradient);
  margin-right: 10px;
  border-radius: 3px;
}

.link {
  display: flex;
  align-items: center;
}