.projects {
  text-align: center;
}

.projectsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: var(--content-indent);
}

.projctsItem {
  min-width: 375px;
  min-height: 567px;
  max-width: 30%;
  margin-bottom: 25px;
  border-radius: 25px;
  background: var(--card-bg);
}

.content {
  padding: 25px;
}

.img {
  content: "";
  min-width: 375px;
  min-height: 260px;
  background: var(--accented-gradient);
  border-radius: 25px 25px 0 0;
}