.app_dark_theme {
  --bg-color: #191919;

  --primary-color: rgba(167, 167, 167, 1);
  --secondary-color: rgba(204, 204, 204, 1);
  --tertiary-color: rgba(204, 204, 204, 1);

  --accented-color: rgba(118, 74, 188, 1);
  --accented-gradient: linear-gradient(90.00deg, #13b0f5 3%, #e70faa);

  --link-color: rgba(167, 167, 167, 1);

  --header-color: rgba(25, 25, 25, 0.97);
  --card-bg: rgba(54, 54, 54, 1);
  --line-color: rgba(66, 68, 110, 1);
}