.app_light_theme {
  --bg-color: rgb(255, 255, 255);

  --primary-color: #000;
  --secondary-color: rgba(204, 204, 204, 1);
  --accented-color: rgba(118, 74, 188, 1);
  --accented-gradient: linear-gradient(90.00deg, #13b0f5 3%, #e70faa);

  --link-color: rgba(102, 102, 102, 1);
  --header-color: rgba(255, 255, 255, 0.97);
  --card-bg: rgba(54, 54, 54, 1);
  --line-color: rgba(66, 68, 110, 1);
}