.appLink {
  text-decoration: none;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.accented {
  color: var(--accented-color);
}

.accentedGradient {
  background-image: var(--accented-gradient);
  background-clip: text;
}