.appLink {
  text-decoration: none;
}

.primary {
  color: var(--link-color);
  transition: all linear var(--transition-duration);

  &:hover {
    color: var(--accented-color);
  }
}

.accented {
  color: var(--accented-color);
}

.accentedGradient {
  background-image: var(--accented-gradient);
  background-clip: text;
  transition: all linear var(--transition-duration);

  &:hover {
    color: var(--primary-color);
  }
}